%h3= @message

.row
  .span8.offset2
    %h1.text-center JetFuel
    %form.bs-container{:action => "/urls", :method => "post"}
      %fieldset
        %legend.text-center Enter a URL to Shorten
        %label
        .input-prepend
          %span.add-on http//:
          %input.span4#prependedInput{:type => "text", :name =>"original", :placeholder => "Enter a url"}
        %br
        %button.btn.btn-success{:type => "Submit"} Shorten

    %br
    - if current_user
      %p
        Hi #{current_user.username}! Get more detailed tracking by using one of your
        %a{:href => "/vanity_urls/#{current_user.username}"} vanity urls

    %br
    .row
      .span4
        %table.table.table-striped.table-bordered
          %caption Most Popular Urls
          %thead
            %tr
              %th url
              %th visits
            %tbody
              - @popular_urls.each do |url|
                %tr
                  %td
                    %a{:href => "#{url.original}"} #{url.original}
                  %td= url.visits

      .span4
        %table.table.table-striped.table-bordered
          %caption Most Recently Added Urls
          %thead
            %tr
              %th url
            %tbody
              - @recent_urls.each do |url|
                %tr
                  %td
                    %a{:href => "#{url.original}"} #{url.original}
