.row
  %br
  %ul.nav.nav-tabs
    %li
      %a{:href => "/dashboard/#{current_user.username}"} Dashboard
    %li.active
      %a{:href => "/profile/#{current_user.username}"} Profile
    %li
      %a{:href => "/vanity_urls/#{current_user.username}"} Manage Vanity Urls

  .span6
    %h3 Username: #{@user.username}
    %h5
      API Key: #{@user.api_key}
    %br
